<div class="chapter-section"  >
    
    <div class="background-pattern" style="">
	     <div class="chapter-section-header">
	          <h2>{{ title }}</h2>
	          <span>{{{ prelude }}}</span>
	     </div>
    </div>

    <div class="container chapter-content">
   	
	   	<p class="chapter-text">{{{ text }}}</p>
	    
	    <div class="flex row space-between" style="flex-wrap: wrap;">

	    {{#if prevChapter}}
			<a href="{{ prevChapter.url }}" class="btn left"><i class="material-icons">navigate_before</i>{{ prevChapter.title }}</a>
		{{/if}}
			<span class="flex-space"></span>
	    {{#if nextChapter}}
			<a href="{{ nextChapter.url }}" class="btn right">{{ nextChapter.title }}<i class="material-icons">navigate_next</i></a>
		{{/if}}
	    	
	    	
	    </div>
    	<br/>
    </div>
   

        {{> footer}}

</div>